<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trainingfiles</title>
    <link rel="stylesheet" th:href="@{/css/detialIndex/index.css}" href="../../../../static/css/detialIndex/index.css" />
    <script type="text/javascript" th:href="@{/js/detialIndex/detail.js}" src="../../../../static/js/detialIndex/detail.js"></script>
    <link rel="stylesheet" href="../../../../static/css/detialIndex/files.css">
    <script src="../../../../static/js/detialIndex/filesexamine/build/template.js"></script>
    <script src="../../../../static/js/detialIndex/filesexamine/files.js"></script>
</head>

<body>
    <div class="header">
        <div class="header-left">
            <img src="../../../../static/img/commen/logo.png" th:href="@{/img/commen/logo.png}" alt="" />
            <span>河南财政金融学院教学管理系统</span>
        </div>
        <div class="header-right">
            <div class="user-img">
                <img src="../../../../static/img/lee.png" th:href="@{/img/lee.png}" alt="" />
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="wrapper-right">
            <div class="trainingfiles">
                <!-- 模板渲染区域 -->
            </div>
        </div>
    </div>
</body>

</html>