.modify {
    display: flex;
}

.modify p {
    margin-top: 2vh;
    width: 100%;
    height: 50px;
    /*background-color:  #0078d4;*/
    background-color: #bbb;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
}

.box-message {
    border: 1px solid gray;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding-top: 2vh;
}

.wrapper {
    display: flex;
    justify-content: center;
}

#btnmodify {
    margin-left: 14%;
    width: 100%;
}

.my-form #teacher,
#course-leader,
#director {
    width: 40px;
}

@media screen and (max-width:980px) {
    /* .wrapper {
        margin: auto -12vw;
    } */
}

#box-message .my-form .select {
    width: 40vw !important;
    padding: 2px;
    /* border: 1px solid #bbb; */
    border: 1px solid #056ffa !important;
    /* border-left: 5px solid #bbb; */
    border-left-width: 5px !important;
    /* color: #837b7b; */
    color: #000 !important;
    background: #fff;
    outline: none;
}

#box-message .my-form input[type='checkbox'] {
    width: 50px;
    height: 16px;
}

#box-message .my-form label {
    display: block;
    font-size: 16px;
    flex: 112px 0 0;
}


/* #box-message .my-form .select option:nth-child(2) {
    color: #000 !important;
}

#box-message .my-form .select option:nth-child(3) {
    color: #000 !important;
}

#box-message .my-form .select option:nth-child(4) {
    color: #000 !important;
}

#box-message .my-form .select.active {
    padding: 2px !important;
    border: 1px solid #056ffa !important;
    border-left-width: 5px !important;
    color: #000 !important;
} */


/* .checked {
    padding: 2px;
    border: 1px solid #056ffa !important;
    border-left-width: 5px !important;
    color: #000 !important;
} */